In [42]:
import sqlite3
con = sqlite3.connect("products.db")
cur = con.cursor()

In [43]:
cur.execute("DROP TABLE IF EXISTS Manufacturers")
cur.execute("DROP TABLE IF EXISTS Products")

In [44]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS Manufacturers (
      Code INTEGER,
      Name TEXT NOT NULL,
      PRIMARY KEY (Code)
    )
""")
cur.execute("""
    CREATE TABLE IF NOT EXISTS Products (
      Code INTEGER,
      Name TEXT NOT NULL,
      Price INTEGER NOT NULL,
      Manufacturer INTEGER NOT NULL,
      PRIMARY KEY (Code)
    )
""")

In [45]:
inserts = [
    "INSERT INTO Manufacturers(Code,Name) VALUES(1,'Sony')",
    "INSERT INTO Manufacturers(Code,Name) VALUES(2,'Creative Labs')",
    "INSERT INTO Manufacturers(Code,Name) VALUES(3,'Hewlett-Packard')",
    "INSERT INTO Manufacturers(Code,Name) VALUES(4,'Iomega')",
    "INSERT INTO Manufacturers(Code,Name) VALUES(5,'Fujitsu')",
    "INSERT INTO Manufacturers(Code,Name) VALUES(6,'Winchester')",
    
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(1,'Hard drive',240,5)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(2,'Memory',120,6)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(3,'ZIP drive',150,4)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(4,'Floppy disk',5,6)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(5,'Monitor',240,1)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(6,'DVD drive',180,2)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(7,'CD drive',90,2)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(8,'Printer',270,3)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(9,'Toner cartridge',66,3)",
    "INSERT INTO Products(Code,Name,Price,Manufacturer) VALUES(10,'DVD burner',180,2)",
]
for q in inserts:
    cur.execute(q)

con.commit()

# 1.1 Select the names of all the products in the store.

In [46]:
r = cur.execute("SELECT Name FROM Products")
display(r.fetchall())

[('Hard drive',),
 ('Memory',),
 ('ZIP drive',),
 ('Floppy disk',),
 ('Monitor',),
 ('DVD drive',),
 ('CD drive',),
 ('Printer',),
 ('Toner cartridge',),
 ('DVD burner',)]

# 1.2 Select the names and the prices of all the products in the store.

In [47]:
r = cur.execute("SELECT Name, Price FROM Products")
display(r.fetchall())

[('Hard drive', 240),
 ('Memory', 120),
 ('ZIP drive', 150),
 ('Floppy disk', 5),
 ('Monitor', 240),
 ('DVD drive', 180),
 ('CD drive', 90),
 ('Printer', 270),
 ('Toner cartridge', 66),
 ('DVD burner', 180)]

# 1.3 Select the name of the products with a price less than or equal to $200.

In [48]:
r = cur.execute("SELECT Name FROM Products WHERE Price <= 200")
display(r.fetchall())

[('Memory',),
 ('ZIP drive',),
 ('Floppy disk',),
 ('DVD drive',),
 ('CD drive',),
 ('Toner cartridge',),
 ('DVD burner',)]

#  1.4 Select all the products with a price between $60 and $120.

In [49]:
r = cur.execute("SELECT Name FROM Products WHERE Price BETWEEN 60 AND 120")
display(r.fetchall())

[('Memory',), ('CD drive',), ('Toner cartridge',)]

# 1.5 Select the name and price in cents (i.e., the price must be multiplied by 100).

In [50]:
r = cur.execute("SELECT Name, Price*100 FROM Products")
display(r.fetchall())

[('Hard drive', 24000),
 ('Memory', 12000),
 ('ZIP drive', 15000),
 ('Floppy disk', 500),
 ('Monitor', 24000),
 ('DVD drive', 18000),
 ('CD drive', 9000),
 ('Printer', 27000),
 ('Toner cartridge', 6600),
 ('DVD burner', 18000)]

# 1.6 Compute the average price of all the products.

In [51]:
r = cur.execute("SELECT AVG(Price) FROM Products")
display(r.fetchone()[0])

154.1

# 1.7 Compute the average price of all products with manufacturer code equal to 2.

In [52]:
r = cur.execute("SELECT AVG(Price) FROM Products WHERE Manufacturer = 2")
display(r.fetchone()[0])

150.0

# 1.8 Compute the number of products with a price larger than or equal to $180.

In [53]:
r = cur.execute("SELECT COUNT(*) FROM Products WHERE Price >= 180")
display(r.fetchone()[0])

5

# 1.9 Select the name and price of all products with a price larger than or equal to $180, and sort first by price (in descending order), and then by name (in ascending order).

In [54]:
r = cur.execute("""
    SELECT Name, Price
    FROM Products
    WHERE Price >= 180
    ORDER BY Price DESC, Name ASC
""")
display(r.fetchall())

[('Printer', 270),
 ('Hard drive', 240),
 ('Monitor', 240),
 ('DVD burner', 180),
 ('DVD drive', 180)]

# 1.10 Select all the data from the products, including all the data for each product's manufacturer.

In [55]:
r = cur.execute("""
    SELECT *
    FROM Products
    JOIN Manufacturers
    ON Products.Manufacturer = Manufacturers.Code
""")
display(r.fetchall())

[(1, 'Hard drive', 240, 5, 5, 'Fujitsu'),
 (2, 'Memory', 120, 6, 6, 'Winchester'),
 (3, 'ZIP drive', 150, 4, 4, 'Iomega'),
 (4, 'Floppy disk', 5, 6, 6, 'Winchester'),
 (5, 'Monitor', 240, 1, 1, 'Sony'),
 (6, 'DVD drive', 180, 2, 2, 'Creative Labs'),
 (7, 'CD drive', 90, 2, 2, 'Creative Labs'),
 (8, 'Printer', 270, 3, 3, 'Hewlett-Packard'),
 (9, 'Toner cartridge', 66, 3, 3, 'Hewlett-Packard'),
 (10, 'DVD burner', 180, 2, 2, 'Creative Labs')]

# 1.11 Select the product name, price, and manufacturer name of all the products.

In [56]:
r = cur.execute("""
    SELECT Products.Name, Products.Price, Manufacturers.Name
    FROM Products
    JOIN Manufacturers
    ON Products.Manufacturer = Manufacturers.Code
""")
display(r.fetchall())

[('Hard drive', 240, 'Fujitsu'),
 ('Memory', 120, 'Winchester'),
 ('ZIP drive', 150, 'Iomega'),
 ('Floppy disk', 5, 'Winchester'),
 ('Monitor', 240, 'Sony'),
 ('DVD drive', 180, 'Creative Labs'),
 ('CD drive', 90, 'Creative Labs'),
 ('Printer', 270, 'Hewlett-Packard'),
 ('Toner cartridge', 66, 'Hewlett-Packard'),
 ('DVD burner', 180, 'Creative Labs')]

In [57]:
# Select the average price of each manufacturer's products, showing only the manufacturer's code.

In [58]:
r = cur.execute("""
    SELECT Manufacturers.Code, AVG(Products.Price)
    FROM Manufacturers
    JOIN Products
    ON Manufacturers.Code = Products.Manufacturer
    GROUP BY Manufacturers.Code
    ORDER BY AVG(Products.Price) DESC
""")
display(r.fetchall())

[(5, 240.0), (1, 240.0), (3, 168.0), (4, 150.0), (2, 150.0), (6, 62.5)]

In [59]:
# Select the average price of each manufacturer's products, showing the manufacturer's name.

In [60]:
r = cur.execute("""
    SELECT Manufacturers.Name, AVG(Products.Price)
    FROM Manufacturers
    JOIN Products
    ON Manufacturers.Code = Products.Manufacturer
    GROUP BY Manufacturers.Name
    ORDER BY AVG(Products.Price) DESC
""")
display(r.fetchall())

[('Sony', 240.0),
 ('Fujitsu', 240.0),
 ('Hewlett-Packard', 168.0),
 ('Iomega', 150.0),
 ('Creative Labs', 150.0),
 ('Winchester', 62.5)]

# 1.14 Select the names of manufacturer whose products have an average price larger than or equal to $150.

In [61]:
r = cur.execute("""
    SELECT Manufacturers.Name
    FROM Manufacturers
    JOIN Products
    ON Manufacturers.Code = Products.Manufacturer
    GROUP BY Manufacturers.Name
    HAVING AVG(Products.Price) >= 150
""")
display(r.fetchall())

[('Creative Labs',),
 ('Fujitsu',),
 ('Hewlett-Packard',),
 ('Iomega',),
 ('Sony',)]

# 1.15 Select the name and price of the cheapest product.

In [62]:
r = cur.execute("""
    SELECT Name, Price
    FROM Products
    ORDER BY Price ASC
    LIMIT 1
""")
display(r.fetchone())

('Floppy disk', 5)

# 1.16 Select the name of each manufacturer along with the name and price of its most expensive product.

In [63]:
r = cur.execute("""
    SELECT Manufacturers.Name, MAX(Products.Price)
    FROM Products
    JOIN Manufacturers ON Products.Manufacturer = Manufacturers.Code
    GROUP BY Manufacturers.Code
""")
display(r.fetchall())

[('Sony', 240),
 ('Creative Labs', 180),
 ('Hewlett-Packard', 270),
 ('Iomega', 150),
 ('Fujitsu', 240),
 ('Winchester', 120)]

# 1.17 Add a new product: Loudspeakers, $70, manufacturer 2.

In [64]:
cur.execute("""
    INSERT INTO Products(Name, Price, Manufacturer)
    VALUES('Loudspeakers', 70, 2)
""")
con.commit()

# 1.18 Update the name of product 8 to "Laser Printer".

In [65]:
cur.execute("""
    UPDATE Products
    SET Name = 'Laser Printer'
    WHERE Code = 8
""")
con.commit()

# 1.19 Apply a 10% discount to all products.

In [66]:
cur.execute("""
    UPDATE Products
    SET Price = ROUND(Price * 0.9, 2)
""")
con.commit()

# 1.20 Apply a 10% discount to all products with a price larger than or equal to $120.

In [67]:
cur.execute("""
    UPDATE Products
    SET Price = ROUND(Price * 0.9, 2)
    WHERE Price >= 120
""")
con.commit()